@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4B4B4B;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 550px;
  height: 7.5rem;
  border-radius: 20px;
  position: relative;
}

.lock .popup__content {
  visibility: visible;
}

.popup__form {
  padding-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__input {
  width: 27.5rem;
  padding: 0.75rem;
  border: solid #000 0.0625rem;
  border-radius: 0.3125rem;
}

.popup__close {
  position: absolute;
  color: #000;
  right: 1.5625rem;
  top: 1.5625rem;
}

.popup__close::before,
.popup__close::after {
  content: "";
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #FFAD4C;
  display: block;
  width: 1.875rem;
  z-index: 5;
}

.popup__close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  background-color: #E5E5E5;
}

.button {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
  letter-spacing: 0.015rem;
  border-radius: 0.5rem;
  background: #FFAD4C;
  padding: 1.125rem 1.875rem;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.header {
  z-index: 100;
  position: fixed;
  height: 4.375rem;
  width: 100%;
  left: 0;
  top: 0;
}

.header__container {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.header__logo {
  cursor: pointer;
  z-index: 5;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__item-icon {
  position: relative;
}

.menu__item-icon::after {
  content: "";
  background: url("../img/icons/arrow_down.svg") no-repeat;
  right: -1.875rem;
  top: 0.3125rem;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
}

.menu__link {
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 170%;
  /* 170% */
  letter-spacing: 0.2px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__icon {
  z-index: 5;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: rgb(222, 179, 124);
  position: relative;
}

.no-webp .footer::after{
  background: url("../img/src/footer_bg.png") no-repeat; }

.footer::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.footer__container {
  padding-bottom: 2.5rem;
}

.footer__decor {
  max-width: 84rem;
  height: 0.0625rem;
  background-color: #FFF;
}

.content-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.content-footer__block {
  color: #FFF;
  z-index: 2;
  font-family: Roboto;
}

.content-footer__title {
  letter-spacing: 0.32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 140%;
}

.content-footer__sub-title {
  letter-spacing: 0.2px;
  font-weight: 400;
  line-height: 140%;
}

.content-footer__sub-title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-footer__form {
  z-index: 2;
  position: relative;
}

.content-footer__input {
  width: 100%;
  border-radius: 8px;
  background: #F9F6F1;
  padding: 1.9375rem;
}

.body-footer {
  color: #FFF;
  font-family: Roboto;
}

.body-footer__block {
  z-index: 2;
}

.body-footer__block:not(:last-child) {
  margin-bottom: 1.25rem;
}

.body-footer__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  /* 28px */
  letter-spacing: 0.2px;
}

.body-footer__sub-title {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  letter-spacing: 0.18px;
}

.body-footer__menu {
  z-index: 2;
}

.body-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.body-footer__item {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  /* 28px */
  letter-spacing: 0.2px;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 70%;
  grid-template-columns: 40% 70%;
}

.hero__image-ibg {
  padding-bottom: 75%;
}

.hero__image-ibg img {
  max-width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero__arrows {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translate(0, -100px);
      -ms-transform: translate(0, -100px);
          transform: translate(0, -100px);
}

.hero__arrow-left {
  z-index: 10;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.81);
  width: 3.75rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.hero__arrow-right {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.81);
}

.content-hero {
  border-radius: 1rem;
  background: rgba(248, 248, 248, 0.77);
  font-family: Roboto;
  -webkit-transform: translate(0, 15%);
      -ms-transform: translate(0, 15%);
          transform: translate(0, 15%);
  min-width: 300px;
  z-index: 5;
}

.content-hero__title {
  color: #FFAD4C;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0.04rem;
  text-transform: capitalize;
}

.content-hero__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content-hero__text {
  color: #4B4B4B;
  font-weight: 400;
  line-height: 141.667%;
  letter-spacing: 0.015rem;
}

.content-hero__text:not(:last-child) {
  margin-bottom: 2rem;
}

.content-hero__button {
  display: inline-block;
  min-width: 240px;
}

.company__container {
  text-align: center;
}

.company__title {
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.015rem;
}

.company__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.some__body {
  position: relative;
}

.content-some__title {
  color: #4B4B4B;
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.02rem;
  max-width: 26.8125rem;
}

.content-some__title:not(:last-child) {
  margin-bottom: 2rem;
}

.content-some__arrows {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(0, -50px);
      -ms-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

.content-some__arrow-left {
  z-index: 5;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.81);
  width: 3.75rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.content-some__arrow-right {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.81);
}

.content-some__image-ibg {
  padding-bottom: 75%;
}

.content-some__image-ibg img {
  max-width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
}

.block-some {
  z-index: 5;
}

.block-some__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.block-some__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.block-some__image {
  max-width: 202;
  max-height: 202;
}

.block-some__image img {
  min-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}

.block-some__content {
  padding-top: 0.9375rem;
  color: #4B4B4B;
  line-height: 140%;
}

.block-some__title {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.015rem;
}

.block-some__text {
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.block-some__more {
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: 0.010625rem;
  position: relative;
}

.block-some__more::after {
  content: "";
  position: absolute;
  right: -1.875rem;
  top: 0;
  width: 1.125rem;
  height: 1.125rem;
  background: url("../img/icons/arrow_left.svg") 0 0/18px no-repeat;
}

.contain_some__swiper {
  max-width: 37.5rem;
  max-height: 37.5rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 26.25rem) {
  .content-footer__button {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
  }
}

@media (min-width: 47.99875em) {
  .submenu {
    width: 6.25rem;
    color: #fff;
    background: #FFAD4C;
    padding: 0.3125rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(0, 0.625rem);
        -ms-transform: translate(0, 0.625rem);
            transform: translate(0, 0.625rem);
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }

  .submenu__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .submenu__link {
    display: block;
    padding: 0.3125rem;
  }

  .body-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 47.99875em) and (any-hover: hover) {
  .submenu__link:hover {
    background: #000;
    text-decoration: underline;
  }
}

@media (min-width: 47.99875em) and (min-width: 75em) {
  .content-footer__block {
    width: 33.4375rem;
  }
}

@media (min-width: 71.875rem) {
  .some__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 75em) {
  .header__logo {
    width: 12.5rem;
  }

  .menu__body {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .action {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .footer__container {
    padding-top: 5.75rem;
  }

  .footer__content:not(:last-child) {
    margin-bottom: 7rem;
  }

  .footer__decor:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .content-footer__title {
    font-size: 2rem;
  }

  .content-footer__sub-title {
    font-size: 1.25rem;
  }

  .body-footer__list {
    -webkit-column-gap: 4.5rem;
       -moz-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }

  .hero {
    padding-top: 7.5rem;
  }

  .hero {
    padding-bottom: 7.5rem;
  }

  .hero__image-ibg {
    width: 48.75rem;
  }

  .content-hero {
    padding-top: 3.25rem;
  }

  .content-hero {
    padding-bottom: 2rem;
  }

  .content-hero {
    padding-left: 3rem;
  }

  .content-hero {
    padding-right: 3rem;
  }

  .content-hero {
    width: 40.3125rem;
  }

  .content-hero {
    height: 30rem;
  }

  .content-hero__title {
    font-size: 4rem;
  }

  .content-hero__text {
    font-size: 1.5rem;
  }

  .company__container {
    padding-bottom: 10rem;
  }

  .company__title:not(:last-child) {
    margin-bottom: 4.0625rem;
  }

  .some {
    padding-bottom: 7.5rem;
  }

  .some__body {
    -webkit-column-gap: 4.5rem;
       -moz-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }

  .content-some__image-ibg {
    width: 39.0625rem;
  }

  .content-some__image-ibg {
    hight: 33.4375rem;
  }
}

@media (max-width: 20em) {
  .header__logo {
    width: 6.25rem;
  }

  .menu__body {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .action {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer__container {
    padding-top: 2.5rem;
  }

  .footer__content:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .footer__decor:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-footer__title {
    font-size: 1.375rem;
  }

  .content-footer__sub-title {
    font-size: 0.9375rem;
  }

  .body-footer__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .hero {
    padding-top: 3.125rem;
  }

  .hero {
    padding-bottom: 1.25rem;
  }

  .hero__image-ibg {
    width: 15.625rem;
  }

  .content-hero {
    padding-top: 0.75rem;
  }

  .content-hero {
    padding-bottom: 0.75rem;
  }

  .content-hero {
    padding-left: 1.125rem;
  }

  .content-hero {
    padding-right: 1.125rem;
  }

  .content-hero {
    width: 12.5rem;
  }

  .content-hero {
    height: 21.25rem;
  }

  .content-hero__title {
    font-size: 1.5625rem;
  }

  .content-hero__text {
    font-size: 1rem;
  }

  .company__container {
    padding-bottom: 1.5625rem;
  }

  .company__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .some {
    padding-bottom: 2.5rem;
  }

  .some__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .content-some__image-ibg {
    width: 14.0625rem;
  }

  .content-some__image-ibg {
    hight: 8.4375rem;
  }
}

@media (max-width: 71.875rem) {
  .content-some__arrows {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 71.875rem) and (max-width: 20em) {
  .block-some__item {
    max-width: 18.75rem;
  }
}

@media (max-width: 61.99875em) {
  .hero__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .content-hero {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: auto;
    -webkit-transition: left ease 1s;
    transition: left ease 1s;
  }

  .menu-open .menu {
    left: 0;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6.25rem 1.875rem 1.875rem 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3.125rem;
    background: #917b61;
    z-index: 2;
    -webkit-transition: left ease 1s;
    transition: left ease 1s;
  }

  .menu__item {
    font-size: 1.875rem;
  }

  .menu__item-icon::after {
    display: none;
  }

  .menu__item-submenu {
    display: none;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .content-footer {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .block-some__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 26.25rem) {
  .content-footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (width: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem )) {
    .header__logo {
      width: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem );
    }
}

@supports not (width: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem )) {
    .header__logo {
      width: calc(6.25rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem )) or (column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem ))) {
    .menu__body {
      -webkit-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem );
         -moz-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem );
              column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem )) or (column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem ))) {
    .menu__body {
      -webkit-column-gap: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) or (column-gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem ))) {
    .action {
      -webkit-column-gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
         -moz-column-gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
              column-gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem )) or (column-gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem ))) {
    .action {
      -webkit-column-gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3181818182rem  +  5.9090909091vw , 5.75rem )) {
    .footer__container {
      padding-top: clamp( 2.5rem , 1.3181818182rem  +  5.9090909091vw , 5.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3181818182rem  +  5.9090909091vw , 5.75rem )) {
    .footer__container {
      padding-top: calc(2.5rem + 3.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.8636363636rem  +  8.1818181818vw , 7rem )) {
    .footer__content:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 0.8636363636rem  +  8.1818181818vw , 7rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.8636363636rem  +  8.1818181818vw , 7rem )) {
    .footer__content:not(:last-child) {
      margin-bottom: calc(2.5rem + 4.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .footer__decor:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .footer__decor:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 1.1477272727rem  +  1.1363636364vw , 2rem )) {
    .content-footer__title {
      font-size: clamp( 1.375rem , 1.1477272727rem  +  1.1363636364vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.1477272727rem  +  1.1363636364vw , 2rem )) {
    .content-footer__title {
      font-size: calc(1.375rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .content-footer__sub-title {
      font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .content-footer__sub-title {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.3579545455rem  +  6.4772727273vw , 4.5rem )) or (column-gap: clamp( 0.9375rem , -0.3579545455rem  +  6.4772727273vw , 4.5rem ))) {
    .body-footer__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.3579545455rem  +  6.4772727273vw , 4.5rem );
         -moz-column-gap: clamp( 0.9375rem , -0.3579545455rem  +  6.4772727273vw , 4.5rem );
              column-gap: clamp( 0.9375rem , -0.3579545455rem  +  6.4772727273vw , 4.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.3579545455rem  +  6.4772727273vw , 4.5rem )) or (column-gap: clamp( 0.9375rem , -0.3579545455rem  +  6.4772727273vw , 4.5rem ))) {
    .body-footer__list {
      -webkit-column-gap: calc(0.9375rem + 3.5625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 3.5625 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 3.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .hero {
      padding-top: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .hero {
      padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.0227272727rem  +  11.3636363636vw , 7.5rem )) {
    .hero {
      padding-bottom: clamp( 1.25rem , -1.0227272727rem  +  11.3636363636vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.0227272727rem  +  11.3636363636vw , 7.5rem )) {
    .hero {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 15.625rem , 3.5795454545rem  +  60.2272727273vw , 48.75rem )) {
    .hero__image-ibg {
      width: clamp( 15.625rem , 3.5795454545rem  +  60.2272727273vw , 48.75rem );
    }
}

@supports not (width: clamp( 15.625rem , 3.5795454545rem  +  60.2272727273vw , 48.75rem )) {
    .hero__image-ibg {
      width: calc(15.625rem + 33.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.75rem , -0.1590909091rem  +  4.5454545455vw , 3.25rem )) {
    .content-hero {
      padding-top: clamp( 0.75rem , -0.1590909091rem  +  4.5454545455vw , 3.25rem );
    }
}

@supports not (padding-top: clamp( 0.75rem , -0.1590909091rem  +  4.5454545455vw , 3.25rem )) {
    .content-hero {
      padding-top: calc(0.75rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem )) {
    .content-hero {
      padding-bottom: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem )) {
    .content-hero {
      padding-bottom: calc(0.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.125rem , 0.4431818182rem  +  3.4090909091vw , 3rem )) {
    .content-hero {
      padding-left: clamp( 1.125rem , 0.4431818182rem  +  3.4090909091vw , 3rem );
    }
}

@supports not (padding-left: clamp( 1.125rem , 0.4431818182rem  +  3.4090909091vw , 3rem )) {
    .content-hero {
      padding-left: calc(1.125rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 1.125rem , 0.4431818182rem  +  3.4090909091vw , 3rem )) {
    .content-hero {
      padding-right: clamp( 1.125rem , 0.4431818182rem  +  3.4090909091vw , 3rem );
    }
}

@supports not (padding-right: clamp( 1.125rem , 0.4431818182rem  +  3.4090909091vw , 3rem )) {
    .content-hero {
      padding-right: calc(1.125rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 12.5rem , 2.3863636364rem  +  50.5681818182vw , 40.3125rem )) {
    .content-hero {
      width: clamp( 12.5rem , 2.3863636364rem  +  50.5681818182vw , 40.3125rem );
    }
}

@supports not (width: clamp( 12.5rem , 2.3863636364rem  +  50.5681818182vw , 40.3125rem )) {
    .content-hero {
      width: calc(12.5rem + 27.8125 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 21.25rem , 18.0681818182rem  +  15.9090909091vw , 30rem )) {
    .content-hero {
      height: clamp( 21.25rem , 18.0681818182rem  +  15.9090909091vw , 30rem );
    }
}

@supports not (height: clamp( 21.25rem , 18.0681818182rem  +  15.9090909091vw , 30rem )) {
    .content-hero {
      height: calc(21.25rem + 8.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5625rem , 0.6761363636rem  +  4.4318181818vw , 4rem )) {
    .content-hero__title {
      font-size: clamp( 1.5625rem , 0.6761363636rem  +  4.4318181818vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.6761363636rem  +  4.4318181818vw , 4rem )) {
    .content-hero__title {
      font-size: calc(1.5625rem + 2.4375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .content-hero__text {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .content-hero__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -1.5056818182rem  +  15.3409090909vw , 10rem )) {
    .company__container {
      padding-bottom: clamp( 1.5625rem , -1.5056818182rem  +  15.3409090909vw , 10rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -1.5056818182rem  +  15.3409090909vw , 10rem )) {
    .company__container {
      padding-bottom: calc(1.5625rem + 8.4375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.6534090909rem  +  4.5454545455vw , 4.0625rem )) {
    .company__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.6534090909rem  +  4.5454545455vw , 4.0625rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.6534090909rem  +  4.5454545455vw , 4.0625rem )) {
    .company__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
    .some {
      padding-bottom: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 7.5rem )) {
    .some {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.0681818182rem  +  5.9090909091vw , 4.5rem )) or (column-gap: clamp( 1.25rem , 0.0681818182rem  +  5.9090909091vw , 4.5rem ))) {
    .some__body {
      -webkit-column-gap: clamp( 1.25rem , 0.0681818182rem  +  5.9090909091vw , 4.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.0681818182rem  +  5.9090909091vw , 4.5rem );
              column-gap: clamp( 1.25rem , 0.0681818182rem  +  5.9090909091vw , 4.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.0681818182rem  +  5.9090909091vw , 4.5rem )) or (column-gap: clamp( 1.25rem , 0.0681818182rem  +  5.9090909091vw , 4.5rem ))) {
    .some__body {
      -webkit-column-gap: calc(1.25rem + 3.25 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.25rem + 3.25 * (100vw - 20rem) / 55);
              column-gap: calc(1.25rem + 3.25 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 14.0625rem , 4.9715909091rem  +  45.4545454545vw , 39.0625rem )) {
    .content-some__image-ibg {
      width: clamp( 14.0625rem , 4.9715909091rem  +  45.4545454545vw , 39.0625rem );
    }
}

@supports not (width: clamp( 14.0625rem , 4.9715909091rem  +  45.4545454545vw , 39.0625rem )) {
    .content-some__image-ibg {
      width: calc(14.0625rem + 25 * (100vw - 20rem) / 55);
    }
}

@supports (hight: clamp( 8.4375rem , -0.6534090909rem  +  45.4545454545vw , 33.4375rem )) {
    .content-some__image-ibg {
      hight: clamp( 8.4375rem , -0.6534090909rem  +  45.4545454545vw , 33.4375rem );
    }
}

@supports not (hight: clamp( 8.4375rem , -0.6534090909rem  +  45.4545454545vw , 33.4375rem )) {
    .content-some__image-ibg {
      hight: calc(8.4375rem + 25 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (width: clamp( 6.25rem , -3.6363636364rem  +  49.4318181818vw , 33.4375rem )) {
    .content-footer__block {
      width: clamp( 6.25rem , -3.6363636364rem  +  49.4318181818vw , 33.4375rem );
    }
}

@supports not (width: clamp( 6.25rem , -3.6363636364rem  +  49.4318181818vw , 33.4375rem )) {
    .content-footer__block {
      width: calc(6.25rem + 27.1875 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .content-footer__block {
    width: 6.25rem;
  }
}

@media (max-width: 71.875rem) and (min-width: 75em) {
  .block-some__item {
    max-width: 37.5rem;
  }
}

@media (max-width: 71.875rem) and (min-width: 20em) and (max-width: 75em) {
@supports (max-width: clamp( 18.75rem , 11.9318181818rem  +  34.0909090909vw , 37.5rem )) {
    .block-some__item {
      max-width: clamp( 18.75rem , 11.9318181818rem  +  34.0909090909vw , 37.5rem );
    }
}

@supports not (max-width: clamp( 18.75rem , 11.9318181818rem  +  34.0909090909vw , 37.5rem )) {
    .block-some__item {
      max-width: calc(18.75rem + 18.75 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: rgb(181, 127, 58);
  }

  .menu__item-icon:hover ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu__item-icon:hover {
    color: #FFAD4C;
    font-weight: 700;
    color: #fff;
  }

  .menu__link:hover {
    color: #FFAD4C;
    font-weight: 700;
  }

  .body-footer__link:hover {
    text-decoration: underline;
  }

  .hero__arrow-left:hover {
    background: rgba(120, 112, 112, 0.81);
  }

  .hero__arrow-right:hover {
    background: rgba(120, 112, 112, 0.81);
  }

  .content-some__arrow-left:hover {
    background: rgba(120, 112, 112, 0.81);
  }

  .content-some__arrow-right:hover {
    background: rgba(120, 112, 112, 0.81);
  }
}

.webp .footer::after{ background: url(../img/src/footer_bg.webp) no-repeat; }